<div class="px-4 px-lg-0 pt-5">
    <!-- For demo purpose -->

    <div class="pb-5">
        <div class="container">
          <div class="row" *ngIf="cart.length > 0">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                <div class="card shopping-cart">
                    <div class="card-header bg-dark text-light">
                        <strong>
                                <a href="#" class="btn btn-md float-left">
                                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                  Shopping Cart
                                </a>

                        </strong>
                        <a [routerLink]="['/']" class="btn btn-outline-info btn-md float-right">Continue shopping</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="card-body">
                            <!-- PRODUCT -->
                            <div class="row" *ngFor="let product of cart">
                                <div class="col-12 col-sm-12 col-md-2 text-center">
                                        <img class="img-responsive" [src]="'/assets/product_images/' + product.Thumbnail"  alt="product.Name"  height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5">
                                    <h4 class="product-name"><strong>{{product.Name}}</strong></h4>
                                    <dl class="param param-inline small">
                                        <dt>Size: </dt>
                                        <dd><span class="badge purple mr-1">{{product.DepartmentName}}</span></dd>
                                      </dl>
                                      <dl class="param param-inline small">
                                        <dt>Color: </dt>
                                        <dd> <span class="badge blue mr-1">{{product.CategoryName}}</span></dd>
                                      </dl>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                            <div class="price-wrap">
                                                    <var class="price">${{(product.Price * product.Quantity).toFixed(2)}}</var>
                                                    <small class="text-muted">(${{product.Price.toFixed(2)}} each)</small>
                                                </div>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4">
                                        <div class="quantity">
                                            <input type="button" value="+" class="plus" (click)="onUpdateQuantity(1,  product.ProductId)">
                                            <input type="number" step="1" max="99" min="1" [value]="product.Quantity" title="Qty" class="qty"
                                                   size="4">
                                            <input type="button" value="-" class="minus" [disabled]="product.Quantity == 1" (click)="onUpdateQuantity(0, product.ProductId)">
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2 text-right">
                                        <button type="button" class="btn btn-outline-danger btn-xs" (click)="onRemoveProductsFromCart(product.ProductId)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- END PRODUCT -->
                    </div>
                    <div class="card-footer">

                        <div class="float-right" style="margin: 10px">
                            <div class="float-left" style="margin: 17px">
                                Total price: <b>${{total.toFixed(2)}}</b>
                            </div>
                            <a class="btn btn-success" [routerLink]="['/checkout/review']" role="button">Checkout</a>
                            <!-- <app-paypal-checkout [totalAmount]="total.toFixed(2)" class="float-right"></app-paypal-checkout> -->
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row" *ngIf="cart.length == 0">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                <div class="jumbotron text-xs-center">
                    <h1 class="display-3">Oops!</h1>
                    <p class="lead">No Products Found in Cart</p>
                    <hr>
                    <p>
                        Please, Add Products to Cart
                    </p>
                    <p class="lead">
                        <a class="btn btn-success " [routerLink]="['/']" role="button">Our Products</a>
                    </p>
                </div>
            </div>
          </div>


        </div>
      </div>
    <!-- End -->

  </div>
  <br>
  <br>
  <br>
<app-footer></app-footer>
