<!-- Footer -->
<footer class="page-footer font-small default-color pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Online Concrete Works</h5>
        <br>
        <p>Welcome to onlineconcreteworks, your number one source for all Concrete products. We're dedicated to providing you the best of concrete products and also Garden ornamentals, with a focus on dependability. customer service
          We're working to turn our passion for our concrete products into a booming online store. We hope you enjoy our products as much as we enjoy offering them to you.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Online Concrete Works</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Sign-up</a>
          </li>
          <li>
            <a href="#!">Login</a>
          </li>
          <li>
            <a href="#!">Products</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> OnlineConcreteWorks.lk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
